      <button mat-raised-button color="accent" (click)="onButtonClick()">click</button>
      <p>{{message}}</p>
      <mat-form-field >
        <mat-label>TWO WAY BINDING</mat-label>
        <textarea   matInput [(ngModel)] = "twoWayBinding"   ></textarea>
      </mat-form-field>
      <p>{{twoWayBinding}}</p>

      <mat-card class="example-card-width">
        <mat-form-field class="example-full-width" >
          <mat-label>Title</mat-label>
          <input type = "text" matInput [(ngModel)] = "postTitle">
        </mat-form-field>
        <mat-form-field class="example-full-width" >
          <mat-label>Content</mat-label>
          <textarea    matInput  [(ngModel)] = "postContent"></textarea>
        </mat-form-field>
        <button  mat-raised-button color="accent" (click)="onSubmitButtonClick()">Post</button>
      </mat-card>

