<mat-accordion  multi="true" *ngIf="posts.length > 0">

  <mat-expansion-panel *ngFor="let post of posts" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ post.title}}
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    {{ post.content}}
    <mat-action-row>
      <button mat-button color="primary"  >Edit</button> <!--(click)=""-->
      <button mat-button color="warn"  >Delete</button> <!--(click)=""-->
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<h3 *ngIf = "posts.length <= 0 ">No post to display</h3>
